#app{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.Tout0{
    background-color: #FF4B29;
    /* border: 1px solid black; */
    /* padding: 20px; */
    } 


.Header0{
    /* background-color: aqua; */
    width: 75%;
    height: auto;
}

.Main0{
    /* background-color: green; */
    width: 90%;
    height: auto;
}

.Footer0{
    /* background-color: pink; */
    width: 35%;
    height: auto;
}

.Tout1{
    background-color: #FF4B29;
}

.Tout2{
    background-color: #FF4B29;
}

.Header1{
    /* background-color: aqua; */
    width: 75%;
    height: auto;
}

.Main1{
    /* background-color: green; */
    width: 90%;
    height: auto;
}

.Footer1{
    /* background-color: pink; */
    width: 35%;
    height: auto;
}

.Header2{
    /* background-color: aqua; */
    width: 75%;
    height: auto;
}

.Main2{
    /* background-color: green; */
    width: 90%;
    height: auto;
}

.Footer2{
    /* background-color: pink; */
    width: 35%;
    height: auto;
}



